@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');


html {
    background: linear-gradient(180deg, #33292E 0%, #7D1950 100%);
    height: 100%;
}

body {
    font-family: Montserrat, sans-serif, system-ui;
}

* {
    color: white;
}