@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');


html {
    background: linear-gradient(0deg, #33292E 0%, #7D1950 20.78%, #853561 51.49%, #7D1950 79.86%, #33292E 100%, #33292E 100%);
}

body {
    font-family: Montserrat, sans-serif, system-ui;
    font-size: 1rem;
}

.muted {
    color: #DFDFDF;
}

* {
    color: white;
}

.container {
    padding: 0 15px;
}

@media (min-width: 575.98px) {
    .container {
        max-width: 540px;
        margin: auto;
        padding: 0;
    }
}

@media (min-width: 767.98px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 991.98px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1199.98px) {
    .container {
        max-width: 1140px;
    }
}


.btn-secondary {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 1rem;
    font-family: Montserrat, sans-serif, system-ui;
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid white;
    transition: 0.5s;
}

.btn-secondary:hover {
    
    box-shadow: 0px 0px 13px 5px rgba(255, 255, 255, 0.5);
}


#b1 {
    margin-top: 0.5rem;
    
}


section {
    margin-top: 4rem;
}

#s1 h1 {
    font-size: 2rem;
}


#s2 #card {
    background-color: #00000040;
    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
}

#s2 #card p {
    margin-top: 1rem;
}

#s2 #card img {
    margin-top: 2rem;
    width: 100%;
}

#s3 h2 {
    text-align: center;
}

#s3 .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width: 770px) {
    #s3 .cards {
        flex-wrap: nowrap;
    }
}


#s3 .open {
    margin-top: 3rem;
}

#s3 .cards .c {
    background-color: #00000040;
    margin: 1rem 2rem;
    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
}

#s4 h2 {
    text-align: center;
}
#s4 .cards {
    margin-top: 2rem;
    display: flex;
    min-height: 30rem;
    flex-wrap: wrap;
}

#s4 .card {
    background-color: #00000040;
    padding: 2rem;
    margin: 1rem auto;
    height: fit-content;
    border-radius: 2rem;
}

#s4 .cards #c1, #s4 .cards #c3 {
    align-self: flex-start;
}

#s4 .cards #c2, #s4 .cards #c4 {
    align-self: flex-end;
}

#s5 h2 {
    text-align: center;
}

#s5 .cards {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

#s6 h2 {
    text-align: center;
}

