header {
    display: flex;
    justify-content: space-between;
}

#logo {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li {
    list-style-type: none;
    margin: 0 1rem;
}

header nav ul li a {
    text-decoration: none;
}

